{# app/Resources/views/category/index.html.twig #}
{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">{{ user.name }}</h1>
            <h2 class="text-center">{{ user.email }}</h2>
        </div>
    </div>
{% endblock %}