{% extends "base.html.twig" %}

{% block body %}
    <h2>Modification réussie</h2>

    <h4>{{ article.title }}  </h4>
    <p>{{ article.content }}</p>

    <a href="{{ path('app_article_index') }} ">Retour vers pages articles</a>
{% endblock %}
