<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<h1>Welcome to the Article:index page</h1>
{% for article in articles %}
    <h3><a href="{{ path('app_article_show', {'id': article.id}) }}">{{ article.title }}</a></h3>
{% endfor %}
</body>
</html>
