{% extends "base.html.twig" %}

{% block body %}
    <h2>{{ article.title }}  </h2>
    <p>{{ article.content }}</p>
    <br>
    {% if prec %}
        <a href="{{ path('app_article_show', {'id': prec}) }} ">Précédant</a>
    {% endif %}
    &nbsp;&nbsp;
    {% if suiv %}
        <a href="{{ path('app_article_show', {'id': suiv}) }}">Suivant</a>
    {% endif %}
{% endblock %}
